.grid{
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.col-6{
    background-color: rgb(97, 146, 153);
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    width: 35%;
}
.description{
    font-family:Calibri;
    text-align: justify;
    color: white;
    margin: 6px;
    font-size: 28px;
}

.name{
    border: none;
    border-radius: 10px;
    
    font-family:Calibri;
    margin: 6px;
}
.pass{
    border: none;
    border-radius: 10px;
   
    font-family:Calibri;
    margin: 6px;
}
.btn{
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(97, 146, 153);
    border:2px solid rgb(97, 146, 153);
    border-radius: 10px;
    position: relative;
    
    font-family:Calibri;
    margin: 6px;
}
.btn:hover{
    background-color:rgb(97, 146, 153) ;
    border: 2px solid  white;
}

