.container{
    width: 100vh;
    background-color: #f1f1f1f1;
}
.grid{
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1f1;
}
.a{
    border-radius: 12px;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.b{
    background-color: #f1f1f1f1;
}
.name{
    border-radius: 10px;
    margin: 6px;
    display: flex;
    flex-direction: column;
}
.pass{
    border-radius: 10px;
    margin: 6px;
    display: flex;
    flex-direction: column;
}
.btn{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


