.container{
    align-content: center;
}
.grid{
    height: 300px;
    width: 700px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 212);
    margin: 5px;
}
.col-5{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-content: center;
}
.name{
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
  
}
.pass{
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
  
}
.btn{
    border-radius: 10px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}



